body {
  background-color: black;
  color:white;
}

h2 {
  font-family: 'Montserrat';
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  border: 1px dotted #9D00FF;
}


.btn-div{
  text-align: center;
}

.pacman{
 
  transform: rotate(90deg) perspective(0);
}



.reset-btn{
font-family: 'Montserrat';
  transition: all 0.2s;
  border: 0.2px solid #9D00FF;
  cursor: pointer;
  background-color: #28282B;
  font-size: 18px;
  border-radius: 5px;
  width: 11%;
  padding: 9px;
  margin-bottom: 10px;
  color: white
}

.rotateUp {
  transform: rotate(45deg);
}

.reset-btn:hover{
  color: black;
background-color: #9D00FF;
}

.hidden{
  display: none;
}

.emoji{
  color: yellow;
  display: inline-block;
}

.board-container, h2{
  display: flex;
  justify-content: center;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */